<!-- <ion-header>

</ion-header> -->

<ion-content *ngIf="!viewSpecificPeople">
  <ion-searchbar (keyup)="search($event.target.value)" [(ngModel)]="currentTextSearched" placeholder="Search a specific character"></ion-searchbar>
  <section class="sectionOfCardsList" *ngIf="!currentTextSearched">
    <ion-card *ngFor="let people of arrayListOfAllPeople" (click)="goToViewofSpecificPeople(people)">
      <ion-card-header>
        <ion-card-title>{{people.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="beautifyLabelDescription"><span>- Birthyear : </span><span>{{ people.birth_year }}</span></div>
        <div class="beautifyLabelDescription"><span>- Gender     : </span><span>{{ people.gender }}</span></div>
        <div class="beautifyLabelDescription"><span>- Homeworld    : </span><span>{{ people.homeworld }}</span></div>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="sectionOfCardsList" *ngIf="currentTextSearched">
    <ion-card *ngFor="let people of tempResultOfPeopleSearch" (click)="goToViewofSpecificPeople(people)">
      <ion-card-header>
        <ion-card-title>{{people.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="beautifyLabelDescription"><span>- Birthyear : </span><span>{{ people.birth_year }}</span></div>
        <div class="beautifyLabelDescription"><span>- Gender     : </span><span>{{ people.gender }}</span></div>
        <div class="beautifyLabelDescription"><span>- Homeworld    : </span><span>{{ people.homeworld }}</span></div>
      </ion-card-content>
    </ion-card>
  </section>

  <div class="flexStandard">
    <ion-icon *ngIf="currentPreviousPagePeople" (click)="previousPagePeople()" color="light" name="arrow-back-outline"></ion-icon>
    <ion-icon *ngIf="!currentPreviousPagePeople" color="medium" name="arrow-back-outline"></ion-icon>
    <div id="PaginationNumber">{{ currentPagePeople }}</div>
    <ion-icon *ngIf="currentNextPagePeople" (click)="nextPagePeople()" color="light" name="arrow-forward-outline"></ion-icon>
    <ion-icon *ngIf="!currentNextPagePeople" color="medium" name="arrow-forward-outline"></ion-icon>
  </div>

</ion-content>

<ion-content *ngIf="viewSpecificPeople">
  <section>
    <app-people-by-id [specificPeopleReceived]="specificPeopleToSend" (viewOfSpecificPeople)="changeCurentViewPeople($event)"></app-people-by-id>
  </section>
</ion-content>
