ion-icon {
  font-size: 30px;
}

ion-card-header {
  background-color: lightgray;
  text-align: center;
}

#PaginationNumber {
  color: white;
  display: flex;
  align-items: center;
}

.sectionOfCardsList {
  height: 75vh;
  overflow-y: scroll;
  margin-bottom: 2vh;
}

.flexStandard {
  display: flex;
  justify-content: space-evenly;
}
