<!-- <ion-header>

</ion-header> -->

<ion-content>
  <ion-searchbar (keyup)="search($event.target.value)" placeholder="Search a specific character"></ion-searchbar>
  <section>
    <ion-card *ngFor="let people of arrayListOfAllPeople">
      <ion-card-header>
        <ion-card-title>{{people.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="beautifyLabelDescription"><span>- Birthyear : </span><span>{{ people.birth_year }}</span></div>
        <div class="beautifyLabelDescription"><span>- Gender     : </span><span>{{ people.gender }}</span></div>
        <div class="beautifyLabelDescription"><span>- Homeworld    : </span><span>{{ people.homeworld }}</span></div>
      </ion-card-content>
    </ion-card>
  </section>

  <div class="flexStandard">
    <ion-icon (click)="previousPagePeople()" color="light" name="arrow-back-outline"></ion-icon>
    <ion-icon (click)="nextPagePeople()" color="light" name="arrow-forward-outline"></ion-icon>
  </div>

</ion-content>
