<ion-header>
  <div id="filterAndSortBar">
    <div class="toogleLabel">
      <div class="toogleLabel">A-z</div>
      <ion-toggle (ionChange)="displayFilmBySortParam($event)"></ion-toggle>
      <div class="toogleLabel">Date</div>
    </div>

    <ion-select #directorSelect placeholder="Filter by Director" (ionChange)="displayFilmBySelectedDirector($event)">
      <ion-select-option [value]="director" *ngFor="let director of arrayOfAllDirector">{{director}}</ion-select-option>
    </ion-select>
  </div>
</ion-header>

<ion-content>
  <app-list-of-films-by-filter [arrayOfFilteredFilmsToDisplay]="arrayOfFilteredFilmsToSend"></app-list-of-films-by-filter>
</ion-content>
